{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


<!-- Hero Start -->
<section class="home-slider position-relative">
    <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                <div class="bg-home slider-rtl-2 d-flex align-items-center"
                    style="background:url('assets/images/shop/bg2.jpg') center center;">
                    <div class="bg-overlay bg-overlay-white opacity-5"></div>
                    <div class="container">
                        <div class="row align-items-center mt-5">
                            <div class="col-lg-7 col-md-7">
                                <div class="title-heading mt-4">
                                    <h1 class="display-4 fw-bold mb-3 text-black">New Accessories <br> Collections</h1>
                                    <p class="para-desc text-black">Launch your campaign and benefit from our expertise
                                        on designing and managing conversion centered bootstrap v5 html page.</p>
                                    <div class="mt-4">
                                        <a href="javascript:void(0)" class="btn btn-soft-primary">Shop Now</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div>
            </div>

            <div class="carousel-item" data-bs-interval="3000">
                <div class="bg-home slider-rtl-1 d-flex align-items-center"
                    style="background:url('assets/images/shop/bg1.jpg') center center;">
                    <div class="bg-overlay bg-overlay-white opacity-5"></div>
                    <div class="container">
                        <div class="row align-items-center mt-5">
                            <div class="col-lg-7 col-md-7">
                                <div class="title-heading mt-4">
                                    <h1 class="display-4 fw-bold mb-3 text-black">Headphones <br> Speaker</h1>
                                    <p class="para-desc text-black">Launch your campaign and benefit from our expertise
                                        on designing and managing conversion centered bootstrap v5 html page.</p>
                                    <div class="mt-4">
                                        <a href="javascript:void(0)" class="btn btn-soft-primary">Shop Now</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div>
            </div>

            <div class="carousel-item" data-bs-interval="3000">
                <div class="bg-home slider-rtl-3 d-flex align-items-center"
                    style="background:url('assets/images/shop/bg3.jpg') center center;">
                    <div class="bg-overlay bg-overlay-white opacity-5"></div>
                    <div class="container">
                        <div class="row align-items-center mt-5">
                            <div class="col-lg-7 col-md-7">
                                <div class="title-heading mt-4">
                                    <h1 class="display-4 fw-bold mb-3 text-black">Modern Furniture, <br> Armchair</h1>
                                    <p class="para-desc text-black">Launch your campaign and benefit from our expertise
                                        on designing and managing conversion centered bootstrap v5 html page.</p>
                                    <div class="mt-4">
                                        <a href="javascript:void(0)" class="btn btn-soft-primary">Shop Now</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div>
            </div>
        </div>
    </div>
</section><!--end section-->
<!-- Hero End -->

<!-- Features Start -->
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-4 mt-4 pt-2">
            <div class="card shop-features border-0 rounded overflow-hidden">
                <img src="assets/images/shop/fea1.jpg" class="img-fluid" alt="">
                <div class="category-title ms-md-4 ms-2">
                    <h4>Summer <br> Collection</h4>
                    <a href="javascript:void(0)" class="btn btn-sm btn-soft-primary mt-2">Shop Now</a>
                </div>
            </div>
        </div><!--end col-->

        <div class="col-md-4 mt-4 pt-2">
            <div class="card shop-features border-0 rounded overflow-hidden">
                <img src="assets/images/shop/fea2.jpg" class="img-fluid" alt="">
                <div class="category-title ms-md-4 ms-2">
                    <h4>Summer <br> Collection</h4>
                    <a href="javascript:void(0)" class="btn btn-sm btn-soft-primary mt-2">Shop Now</a>
                </div>
            </div>
        </div><!--end col-->

        <div class="col-md-4 mt-4 pt-2">
            <div class="card shop-features border-0 rounded overflow-hidden">
                <img src="assets/images/shop/fea3.jpg" class="img-fluid" alt="">
                <div class="category-title ms-md-4 ms-2">
                    <h4>Summer <br> Collection</h4>
                    <a href="javascript:void(0)" class="btn btn-sm btn-soft-primary mt-2">Shop Now</a>
                </div>
            </div>
        </div><!--end col-->
    </div><!--end row-->
</div><!--end container-->
<!-- Features End -->

<!-- Start -->
<section class="section">
    <!-- Start Most Viewed Products -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5 class="mb-0">Most Viewed Products</h5>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card shop-list border-0 position-relative">
              {% for product in bestproduct %}
                    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                        <div class="card shop-list border-0 position-relative">
                            <ul class="label list-unstyled mb-0">
                                <li><a href="javascript:void(0)"
                                        class="badge badge-link rounded-pill bg-success">Featured</a></li>
                            </ul>
                            <div class="shop-image position-relative overflow-hidden rounded shadow">
                                <a href="{{ path('app_product_detail', {'slug': product.slug}) }}"><img src="{{ asset(product.illustration) }}" class="img-fluid"
                                        alt=""></a>
                                <a href="{{ path('app_product_detail', {'slug': product.slug}) }}" class="overlay-work">
                                    <img src="{{ asset(product.illustration) }}" class="img-fluid" alt="">
                                </a>
                                <ul class="list-unstyled shop-icons">
                                    <li><a href="javascript:void(0)" class="btn btn-icon btn-pills btn-soft-danger"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-heart icons">
                                                <path
                                                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                                </path>
                                            </svg></a></li>
                                    <li class="mt-2"><a href="javascript:void(0)" data-bs-toggle="modal"
                                            data-bs-target="#productview"
                                            class="btn btn-icon btn-pills btn-soft-primary"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-eye icons">
                                                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                                <circle cx="12" cy="12" r="3"></circle>
                                            </svg></a></li>
                                    <li class="mt-2"><a href="{{path ('add_to_cart' , {'id' :product.id})}}"
                                            class="btn btn-icon btn-pills btn-soft-warning"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-shopping-cart icons">
                                                <circle cx="9" cy="21" r="1"></circle>
                                                <circle cx="20" cy="21" r="1"></circle>
                                                <path
                                                    d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6">
                                                </path>
                                            </svg></a></li>
                                </ul>
                            </div>
                            <div class="card-body content pt-4 p-2">
                                <a href="{{ path('app_product_detail', {'slug': product.slug}) }}" class="text-dark product-name h6">{{product.name}}</a>
                                <div class="d-flex justify-content-between mt-1">
                                    <h6 class="text-dark small fst-italic mb-0 mt-1">${{product.prix}}<del
                                            class="text-danger ms-2">${{product.prix}}</del> </h6>
                                    <ul class="list-unstyled text-warning mb-0">
                                        <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    {% endfor %}
        </div><!--end row-->
    </div><!--end container-->
    <!-- End Most Viewed Product -->

    <!-- Start Categories -->
    <div class="container mt-100 mt-60">
        <div class="row">
            <div class="col-12">
                <h5 class="mb-0">Top Categories</h5>
            </div><!--end col-->
        </div><!--end row-->
        <div class="row">
            <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2">
                <div class="card features feature-primary explore-feature border-0 rounded text-center">
                    <div class="card-body">
                        <img src="assets/images/shop/categories/fashion.jpg"
                            class="avatar avatar-small rounded-circle shadow-md" alt="">
                        <div class="content mt-3">
                            <h6 class="mb-0"><a href="javascript:void(0)" class="title text-dark">Fashion</a></h6>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2">
                <div class="card features feature-primary explore-feature border-0 rounded text-center">
                    <div class="card-body">
                        <img src="assets/images/shop/categories/sports.jpg"
                            class="avatar avatar-small rounded-circle shadow-md" alt="">
                        <div class="content mt-3">
                            <h6 class="mb-0"><a href="javascript:void(0)" class="title text-dark">Sports</a></h6>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2">
                <div class="card features feature-primary explore-feature border-0 rounded text-center">
                    <div class="card-body">
                        <img src="assets/images/shop/categories/music.jpg"
                            class="avatar avatar-small rounded-circle shadow-md" alt="">
                        <div class="content mt-3">
                            <h6 class="mb-0"><a href="javascript:void(0)" class="title text-dark">Music</a></h6>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2">
                <div class="card features feature-primary explore-feature border-0 rounded text-center">
                    <div class="card-body">
                        <img src="assets/images/shop/categories/furniture.jpg"
                            class="avatar avatar-small rounded-circle shadow-md" alt="">
                        <div class="content mt-3">
                            <h6 class="mb-0"><a href="javascript:void(0)" class="title text-dark">Furniture</a></h6>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2">
                <div class="card features feature-primary explore-feature border-0 rounded text-center">
                    <div class="card-body">
                        <img src="assets/images/shop/categories/electronics.jpg"
                            class="avatar avatar-small rounded-circle shadow-md" alt="">
                        <div class="content mt-3">
                            <h6 class="mb-0"><a href="javascript:void(0)" class="title text-dark">Electronics</a></h6>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2">
                <div class="card features feature-primary explore-feature border-0 rounded text-center">
                    <div class="card-body">
                        <img src="assets/images/shop/categories/mobile.jpg"
                            class="avatar avatar-small rounded-circle shadow-md" alt="">
                        <div class="content mt-3">
                            <h6 class="mb-0"><a href="javascript:void(0)" class="title text-dark">Mobiles</a></h6>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
    <!-- Start Categories -->

    <!-- Start Popular -->
    <div class="container mt-100 mt-60">
        <div class="row">
            <div class="col-12">
                <h5 class="mb-0">Popular Products</h5>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card shop-list border-0 position-relative">
                    <ul class="label list-unstyled mb-0">
                        <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-info">Popular</a></li>
                    </ul>
                    <div class="shop-image position-relative overflow-hidden rounded shadow">
                        <a href="/product/detail"><img src="assets/images/shop/product/s9.jpg"
                                class="img-fluid" alt=""></a>
                        <a href="/product/detail" class="overlay-work">
                            <img src="assets/images/shop/product/s-9.jpg" class="img-fluid" alt="">
                        </a>
                        <ul class="list-unstyled shop-icons">
                            <li><a href="javascript:void(0)" class="btn btn-icon btn-pills btn-soft-danger"><i
                                        data-feather="heart" class="icons"></i></a></li>
                            <li class="mt-2"><a href="javascript:void(0)" data-bs-toggle="modal"
                                    data-bs-target="#productview" class="btn btn-icon btn-pills btn-soft-primary"><i
                                        data-feather="eye" class="icons"></i></a></li>
                            <li class="mt-2"><a href="/cart" class="btn btn-icon btn-pills btn-soft-warning"><i
                                        data-feather="shopping-cart" class="icons"></i></a></li>
                        </ul>
                    </div>
                    <div class="card-body content pt-4 p-2">
                        <a href="/product/detail" class="text-dark product-name h6">Coffee Cup / Mug</a>
                        <div class="d-flex justify-content-between mt-1">
                            <h6 class="text-dark small fst-italic mb-0 mt-1">$16.00 <del
                                    class="text-danger ms-2">$21.00</del> </h6>
                            <ul class="list-unstyled text-warning mb-0">
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card shop-list border-0 position-relative">
                    <ul class="label list-unstyled mb-0">
                        <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-info">Popular</a></li>
                    </ul>
                    <div class="shop-image position-relative overflow-hidden rounded shadow">
                        <a href="/product/detail"><img src="assets/images/shop/product/s10.jpg"
                                class="img-fluid" alt=""></a>
                        <a href="/product/detail" class="overlay-work">
                            <img src="assets/images/shop/product/s-10.jpg" class="img-fluid" alt="">
                        </a>
                        <ul class="list-unstyled shop-icons">
                            <li><a href="javascript:void(0)" class="btn btn-icon btn-pills btn-soft-danger"><i
                                        data-feather="heart" class="icons"></i></a></li>
                            <li class="mt-2"><a href="javascript:void(0)" data-bs-toggle="modal"
                                    data-bs-target="#productview" class="btn btn-icon btn-pills btn-soft-primary"><i
                                        data-feather="eye" class="icons"></i></a></li>
                            <li class="mt-2"><a href="/cart" class="btn btn-icon btn-pills btn-soft-warning"><i
                                        data-feather="shopping-cart" class="icons"></i></a></li>
                        </ul>
                    </div>
                    <div class="card-body content pt-4 p-2">
                        <a href="/product/detail" class="text-dark product-name h6">Sunglasses</a>
                        <div class="d-flex justify-content-between mt-1">
                            <h6 class="text-dark small fst-italic mb-0 mt-1">$21.00 <del
                                    class="text-danger ms-2">$25.00</del> </h6>
                            <ul class="list-unstyled text-warning mb-0">
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card shop-list border-0 position-relative">
                    <ul class="label list-unstyled mb-0">
                        <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-info">Popular</a></li>
                    </ul>
                    <div class="shop-image position-relative overflow-hidden rounded shadow">
                        <a href="/product/detail"><img src="assets/images/shop/product/s11.jpg"
                                class="img-fluid" alt=""></a>
                        <a href="/product/detail" class="overlay-work">
                            <img src="assets/images/shop/product/s-11.jpg" class="img-fluid" alt="">
                        </a>
                        <ul class="list-unstyled shop-icons">
                            <li><a href="javascript:void(0)" class="btn btn-icon btn-pills btn-soft-danger"><i
                                        data-feather="heart" class="icons"></i></a></li>
                            <li class="mt-2"><a href="javascript:void(0)" data-bs-toggle="modal"
                                    data-bs-target="#productview" class="btn btn-icon btn-pills btn-soft-primary"><i
                                        data-feather="eye" class="icons"></i></a></li>
                            <li class="mt-2"><a href="/cart" class="btn btn-icon btn-pills btn-soft-warning"><i
                                        data-feather="shopping-cart" class="icons"></i></a></li>
                        </ul>
                    </div>
                    <div class="card-body content pt-4 p-2">
                        <a href="/product/detail" class="text-dark product-name h6">Loafer Shoes</a>
                        <div class="d-flex justify-content-between mt-1">
                            <h6 class="text-dark small fst-italic mb-0 mt-1">$5.00 <span class="text-success ms-1">30%
                                    off</span> </h6>
                            <ul class="list-unstyled text-warning mb-0">
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card shop-list border-0 position-relative">
                    <ul class="label list-unstyled mb-0">
                        <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-info">Popular</a></li>
                    </ul>
                    <div class="shop-image position-relative overflow-hidden rounded shadow">
                        <a href="/product/detail"><img src="assets/images/shop/product/s12.jpg"
                                class="img-fluid" alt=""></a>
                        <a href="/product/detail" class="overlay-work">
                            <img src="assets/images/shop/product/s-12.jpg" class="img-fluid" alt="">
                        </a>
                        <ul class="list-unstyled shop-icons">
                            <li><a href="javascript:void(0)" class="btn btn-icon btn-pills btn-soft-danger"><i
                                        data-feather="heart" class="icons"></i></a></li>
                            <li class="mt-2"><a href="javascript:void(0)" data-bs-toggle="modal"
                                    data-bs-target="#productview" class="btn btn-icon btn-pills btn-soft-primary"><i
                                        data-feather="eye" class="icons"></i></a></li>
                            <li class="mt-2"><a href="/cart" class="btn btn-icon btn-pills btn-soft-warning"><i
                                        data-feather="shopping-cart" class="icons"></i></a></li>
                        </ul>
                    </div>
                    <div class="card-body content pt-4 p-2">
                        <a href="/product/detail" class="text-dark product-name h6">T-Shirts</a>
                        <div class="d-flex justify-content-between mt-1">
                            <h6 class="text-dark small fst-italic mb-0 mt-1">$18.00 <del
                                    class="text-danger ms-2">$22.00</del> </h6>
                            <ul class="list-unstyled text-warning mb-0">
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
    <!-- End Popular -->

    <!-- Start CTA -->
    <div class="container-fluid mt-100 mt-60">
        <div class="rounded py-5" style="background: url('assets/images/shop/cta.jpg') fixed;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h2 class="fw-bold text-black mb-4">End of Season Clearance <br> Sale upto 30%</h2>
                            <p class="para-desc text-black mb-0">Launch your campaign and benefit from our expertise on
                                designing and managing conversion centered bootstrap v5 html page.</p>
                            <div class="mt-4">
                                <a href="javascript:void(0)" class="btn btn-primary">Shop Now</a>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </div>
    </div><!--end container-->
    <!-- End CTA -->

    <!-- Start Recent -->
    <div class="container mt-100 mt-60">
        <div class="row">
            <div class="col-12">
                <h5 class="mb-0">Recent Products</h5>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card shop-list border-0 position-relative">
                    <ul class="label list-unstyled mb-0">
                        <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-primary">New</a></li>
                    </ul>
                    <div class="shop-image position-relative overflow-hidden rounded shadow">
                        <a href="/product/detail"><img src="assets/images/shop/product/s13.jpg"
                                class="img-fluid" alt=""></a>
                        <a href="/product/detail" class="overlay-work">
                            <img src="assets/images/shop/product/s-13.jpg" class="img-fluid" alt="">
                        </a>
                        <ul class="list-unstyled shop-icons">
                            <li><a href="javascript:void(0)" class="btn btn-icon btn-pills btn-soft-danger"><i
                                        data-feather="heart" class="icons"></i></a></li>
                            <li class="mt-2"><a href="javascript:void(0)" data-bs-toggle="modal"
                                    data-bs-target="#productview" class="btn btn-icon btn-pills btn-soft-primary"><i
                                        data-feather="eye" class="icons"></i></a></li>
                            <li class="mt-2"><a href="/cart" class="btn btn-icon btn-pills btn-soft-warning"><i
                                        data-feather="shopping-cart" class="icons"></i></a></li>
                        </ul>
                    </div>
                    <div class="card-body content pt-4 p-2">
                        <a href="/product/detail" class="text-dark product-name h6">Wooden Chair</a>
                        <div class="d-flex justify-content-between mt-1">
                            <h6 class="text-dark small fst-italic mb-0 mt-1">$16.00 <del
                                    class="text-danger ms-2">$21.00</del> </h6>
                            <ul class="list-unstyled text-warning mb-0">
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card shop-list border-0 position-relative">
                    <ul class="label list-unstyled mb-0">
                        <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-primary">New</a></li>
                    </ul>
                    <div class="shop-image position-relative overflow-hidden rounded shadow">
                        <a href="/product/detail"><img src="assets/images/shop/product/s14.jpg"
                                class="img-fluid" alt=""></a>
                        <div class="overlay-work">
                            <div class="py-2 bg-soft-dark rounded-bottom out-stock">
                                <h6 class="mb-0 text-center">Out of stock</h6>
                            </div>
                        </div>
                        <ul class="list-unstyled shop-icons">
                            <li><a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#productview"
                                    class="btn btn-icon btn-pills btn-soft-primary"><i data-feather="eye"
                                        class="icons"></i></a></li>
                        </ul>
                    </div>
                    <div class="card-body content pt-4 p-2">
                        <a href="/product/detail" class="text-dark product-name h6">Women Block Heels</a>
                        <div class="d-flex justify-content-between mt-1">
                            <h6 class="text-dark small fst-italic mb-0 mt-1">$21.00 <del
                                    class="text-danger ms-2">$25.00</del> </h6>
                            <ul class="list-unstyled text-warning mb-0">
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card shop-list border-0 position-relative">
                    <ul class="label list-unstyled mb-0">
                        <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-primary">New</a></li>
                    </ul>
                    <div class="shop-image position-relative overflow-hidden rounded shadow">
                        <a href="/product/detail"><img src="assets/images/shop/product/s15.jpg"
                                class="img-fluid" alt=""></a>
                        <a href="/product/detail" class="overlay-work">
                            <img src="assets/images/shop/product/s-15.jpg" class="img-fluid" alt="">
                        </a>
                        <ul class="list-unstyled shop-icons">
                            <li><a href="javascript:void(0)" class="btn btn-icon btn-pills btn-soft-danger"><i
                                        data-feather="heart" class="icons"></i></a></li>
                            <li class="mt-2"><a href="javascript:void(0)" data-bs-toggle="modal"
                                    data-bs-target="#productview" class="btn btn-icon btn-pills btn-soft-primary"><i
                                        data-feather="eye" class="icons"></i></a></li>
                            <li class="mt-2"><a href="/cart" class="btn btn-icon btn-pills btn-soft-warning"><i
                                        data-feather="shopping-cart" class="icons"></i></a></li>
                        </ul>
                    </div>
                    <div class="card-body content pt-4 p-2">
                        <a href="/product/detail" class="text-dark product-name h6">T-Shirts</a>
                        <div class="d-flex justify-content-between mt-1">
                            <h6 class="text-dark small fst-italic mb-0 mt-1">$5.00 <span class="text-success ms-1">30%
                                    off</span> </h6>
                            <ul class="list-unstyled text-warning mb-0">
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card shop-list border-0 position-relative">
                    <ul class="label list-unstyled mb-0">
                        <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-primary">New</a></li>
                        <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-success">Featured</a>
                        </li>
                        <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-warning">Sale</a></li>
                    </ul>
                    <div class="shop-image position-relative overflow-hidden rounded shadow">
                        <a href="/product/detail"><img src="assets/images/shop/product/s16.jpg"
                                class="img-fluid" alt=""></a>
                        <a href="/product/detail" class="overlay-work">
                            <img src="assets/images/shop/product/s-16.jpg" class="img-fluid" alt="">
                        </a>
                        <ul class="list-unstyled shop-icons">
                            <li><a href="javascript:void(0)" class="btn btn-icon btn-pills btn-soft-danger"><i
                                        data-feather="heart" class="icons"></i></a></li>
                            <li class="mt-2"><a href="javascript:void(0)" data-bs-toggle="modal"
                                    data-bs-target="#productview" class="btn btn-icon btn-pills btn-soft-primary"><i
                                        data-feather="eye" class="icons"></i></a></li>
                            <li class="mt-2"><a href="/cart" class="btn btn-icon btn-pills btn-soft-warning"><i
                                        data-feather="shopping-cart" class="icons"></i></a></li>
                        </ul>
                    </div>
                    <div class="card-body content pt-4 p-2">
                        <a href="/product/detail" class="text-dark product-name h6">Clock</a>
                        <div class="d-flex justify-content-between mt-1">
                            <h6 class="text-dark small fst-italic mb-0 mt-1">$18.00 <del
                                    class="text-danger ms-2">$22.00</del> </h6>
                            <ul class="list-unstyled text-warning mb-0">
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
    <!-- End Recent -->
</section><!--end section-->


{% endblock %}